# Build
bin/
build/
captures/
classes/
gen/
schemas/
.build/
.externalNativeBuild/
.gradle/
.kotlin/
.navigation/
*.aab
*.aar
*.apk
*.framework
*.generated.swift
*.hmap
*.ipa
*.keystore
*.log
*.xcframework
*.zip

# IDE
*.iml
*.xcworkspace
.fleet/
.idea/
.vscode/
xcuserdata/
local.properties

# Keystore exception
!nimbus.debug.keystore

# IDEA/Android Studio Ignore exceptions
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyles/Project

# OS
.DS_Store

# Google Services
**/google-services.json
firebase.json

# CocoaPods
Podfile.lock
Pods/

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved
